/* This is a file for all my sites styles. */

body{
  display: flex;
  flex-direction: column;
  background-color: #663B15;
}

#navBar{
  display: flex;
  background-color: #606C38;
  justify-content: center;
  align-items: center;
}

#content{
  display: flex;
  flex-direction: column;
  background-color: #203D46;
}

#footer{
  display: flex;
  background-color: blue;
  justify-content: center;
}

.section{
  display: flex;    /*Fix This!!!!!*/
}

#content > .section{
  display: flex;
  justify-content: center;
  background-color: #283618;
  border: solid;
  border-width: 15px;
  margin: 20px;
}

#content > .section > #calculator > .button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: solid;
  border-radius: 2.5rem;
  margin: 5px;
  height: 50px;
  width: 50px;
}

#content > .section > #calculator > .button:hover{
    background-color: yellow;
}

#content > .section > #calculator > .button2{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: solid;
  border-radius: 2.5rem;
  margin: 5px;
  height: 50px;
  width: auto;
  font-size: 2rem;
}

#content > .section > #calculator > .button2:hover{
    background-color: yellow;
}

#content > .section > #calculator{
  display: grid;
  margin: 15px;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(6, 70px); 
  background-color: orange;
  height: auto;
  width: auto;
}

#screen{
  grid-column: span 4;
  background-color: hsl(35.44, 84.33%, 43.4%);
}
