/* This is a file for all my sites styles. */

body{
  display: flex;
  flex-direction: column;
  background-color: purple;
}

#navBar{
  background-color: red;
  justify-content: center;
  align-items: center;
}

#content{
  background-color: white;
  height: 100vh;
}

#footer{
  background-color: blue;
}

#content > .section{
  background-color: green;
  border: solid;
  border-width: 15px;
  margin: 20px;
}

#content > .section > #calculator > .button{
  background-color: grey;
  border: solid;
  margin: 5px;
}

#content > .section > #calculator{
  background-color: orange;
  height: 500px;
  width: 500px;
}
