/* This is a file for all my sites styles. */

body{
  display: flex;
  flex-direction: column;
  background-color: purple;
}

#navBar{
  background-color: red;
}

#content{
  background-color: white;
  height: 100%;
}

#footer{
  background-color: blue;
}
